pyshark==0.6
pandas>=2.0,<3.0
motor
pydantic[email]
passlib[bcrypt]
python-jose[cryptography]
python-dotenv
python-multipart
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
fastapi
uvicorn
pymongo
python-dotenv
python-jose
passlib
python-multipart
pytest